.clear-fix::after {
  display: block;
  content: "";
  clear: both;
}
body {
  font-family: "Raleway",serif;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.buttonstyle {
  text-decoration: none;
  transition-duration: 0.3s;
}
.buttonstyle:hover {
  color: #333;
}

.footer {
  position: relative;
  top: 25px;
  width:100%;
  background-color: #74cfae;
  padding: 20px 0 25px;
  color: #000;
}
.footer__text {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.icon {
  text-align: center;
  padding:20px 0;
  width: 185px;
  color: #74cfae;
  opacity: 0.7;
  font-family: FontAwesome;
  background-color: #f2f2f2;
  transition-duration: 0.3s;
}
.icon:hover {
  background-color: #fff;
  opacity: 1;
}

@media screen and (min-width:0){
  /*スマートフォン用*/
  .PC {
    display: none;
    font-size: 0;
  }
  .inner-box {
    width:97%;
    margin:0 auto;
  }
  .header {
    position: fixed;
    display: table;
    background-color: white;
    width: 100%;
    padding-top: 15px;
    z-index: 100;
  }
  .header__item__content-left {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    float: left;
    opacity: 0.7;
    width: 185px;
    font-family: FontAwesome;
    color: #4e4e4e;
    text-decoration: none;
  }
  .header__item__content-right {
    display: table-cell;
    vertical-align: middle;
    float: right;
  }
  .header__item-hamburgermenu {
    width: 25px;
    font-size: 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .menubar {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin-bottom: 5px;
  }
  .menubar:last-of-type {
    margin: 0;
  }
  .menu__select {
    display: none;
  }
  .menu__select.active {
    display:block;
    width: 100%;
    padding: 25px 0 15px;
    margin: 0;
    text-align: left;
    font-size: 12px;
    border-top: 1px solid #ddd;
    border-radius: 0;
  }
  .menu__select-contact {
    display:inline-block;
    width: 100%;
    padding:10px 0 10px 15px;
    vertical-align: middle;
    background-color: #74cfae;
    color: #fff;
    text-decoration: none;
  }
  /*--------------------------*/
  .main {
    position: relative;
    top: 78px;
    width: 100%;
    background-color: #f2f2f2;
  }

  .main__theme {
    width: 100%;
    padding: 160px 0 130px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .main__theme-maintext {
    color: #74cfae;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main__theme-subtext {
    font-size: 30px;
    color: #c0c0c0;
  }

  .main__question {
    width: 100%;
    background-color: #74cfae;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0 30px;
  }
  .main__question__frame-text {
    color: #fff;
  }
  .main__question-maintext {
    margin: 25px 0 35px;
    font-size: 24px;
  }
  .main__question-subtext {
    word-wrap: break-word;
    line-height: 30px;
    font-size: 20px;
  }

  .main__work {
    width: 100%;
    padding: 60px 0;
    font-size: 0;
    text-align: center;
  }
  .main__work__maintext {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .main__work-image{
    display: block;
  }
  .main__work-image img{
    opacity: 0.7;
    transition-duration: 0.3s;
  }
  .main__work-image:hover img{
    opacity: 1;
  }
  .main__work-image:nth-of-type(4){
    margin-top: 80px;
  }
  .main__work__content {
    padding: 10px 0;
    margin-top:80px;
    text-align: center;
    font-size: 12px;
  }
  .main__work__content-text {
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 60px;
    color: #333;
  }
  .main__work__content-button {
    padding: 14px 20px;
    vertical-align: middle;
    background-color: #74cfae;
    color: #fff;
  }

  .main__skills {
    width:100%;
    background-color: #4e4e4e;
    text-align: center;
    padding: 70px 0 100px;
    color: #fff;
  }
  .main__skills__text {
    margin-bottom:70px;
    font-size:24px;
  }
  .main__skills__frame {
    font-size: 16px;
  }
  .main__skills__item {
    margin-bottom: 120px;
  }
  .main__skills__item:last-child {
    margin-bottom: 0;
  }
  .main__skills__item-name{
    margin-bottom: 30px;
  }

  .main__support {
    width:100%;
    padding: 50px 15px 100px;
    text-align: center;
  }
  .main__support__content a{
    display: flex;
    width:100%;
    justify-content: center;
    text-decoration: none;
  }
}
@media screen and (min-width:766px) {
  /*パッド用レイアウト*/
  .SP {
    display: none;
  }

  .header {
    padding: 15px;
  }
  .header__item__content-right {
    vertical-align: middle;
    width:auto;
    font-size: 12px;
    padding: 14px 12px;
    color: #fff;
    background-color: #74cfae;
    font-weight: 700;
  }
  /*--------------------------*/
  .main__theme {
    padding: 250px 0;
  }
  .main__theme-maintext {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main__theme-subtext {
    font-size: 30px;
  }

  .main__question {
    padding: 50px 0 25px;
  }
  .main__question-maintext {
    margin: 20px 0 35px;
  }

  .main__support {
    padding: 200px 0;
  }
  .main__support__content {
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  .main__support__content a{
    display: table-cell;
    width: 185px;
    text-align: center;
    text-decoration: none;
  }
  /*--------------------------*/

}
@media screen and (min-width:1200px){
  /*ＰＣ用レイアウト*/
  .SP {
    display: none;
  }
  .inner-box {
    width:1100px;
    margin:0 auto;
  }

  .main__question__frame-image {
    float: left;
    width:450px;
  }
  .main__question__frame-text {
    float:right;
    width: 650px;
  }
  .main__question-maintext {
    margin: 25px 0 35px;
    font-size: 24px;
  }
  .main__question-subtext {
    word-wrap: break-word;
    line-height: 30px;
    font-size: 20px;
  }

  .main__work {
    padding: 60px 0;
    font-size:0;
  }
  .main__work__maintext {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .main__work-image{
    display: inline-block;
    margin: 80px 0 0 100px;
  }
  .main__work-image img{
    opacity: 0.7;
    transition-duration: 0.3s;
  }
  .main__work-image:hover img{
    opacity: 1;
  }
  .main__work-image:first-of-type{
    margin: 0;
  }
  .main__work-image:nth-child(-n+4){
    margin-top: 0;
  }
  .main__work-image:nth-child(3n+2){
    margin-left: 0;
  }
  .main__work__content {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top:80px;
    text-align: center;
    font-size: 12px;
  }
  .main__work__content-text {
    max-width: 530px;
    margin: auto 0;
    margin-right: 90px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #333;
  }
  .main__work__content-button {
    margin: auto 0;
    padding: 14px 20px;
    vertical-align: middle;
    background-color: #74cfae;
    color: #fff;
  }

  .main__skills {
    padding: 70px 0 100px;
  }
  .main__skills__text {
    margin-bottom:70px;
    font-size:24px;
  }
  .main__skills__frame {
    display:flex;
    justify-content: center;
    font-size: 16px;
  }
  .main__skills__item {
    float:left;
    margin-right: 180px;
  }
  .main__skills__item:last-child {
    margin-right: 0;
  }
  .main__skills__item-name{
    margin-bottom: 30px;
  }
  /*--------------------------*/
}
