.clear-fix::after {
  display: block;
  content: "";
  clear: both;
}
.fontstyle {
  font-family: "Raleway",serif;
}
.buttonstyle {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  background-color: #74cfae;
  font-size: 12px;
  color: #fff;
  transition-duration: 0.3s;
}
.buttonstyle:hover {
  color: #333;
}

.item-box {
  width:1100px;
  margin:0 auto;
}
.header {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 15px;
}
.header__item__content-left {
  float: left;
  width: 185px;
  font-family: FontAwesome;
  color: #4e4e4e;
  content: "\f0e7";
}
.header__item__content-right {
  float: right;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  font-family: "Lato",serif;
  font-weight: 700;
}
/*--------------------------*/
.main {
  position: relative;
  top: 78px;
  width: 100%;
  background-color: #f2f2f2;
}

.main__theme {
  width: 100%;
  padding: 250px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main__theme-maintext {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}
.main__theme-subtext {
  font-size: 30px;
  color: #c0c0c0;
}

.main__question {
  width: 100%;
  background-color: #74cfae;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.main__question__frame-image {
  float: left;
  margin-left: 100px;
}
.main__question__frame-text {
  float:right;
  width: 650px;
  text-align: center;
  font-family: "Lato",serif;
  color: #fff;
}
.main__question-maintext {
  margin: 20px 0 35px 0;
  font-size: 24px;
}
.main__question-subtext {
  word-wrap: break-word;
  line-height: 30px;
  font-size: 20px;
}

.main__work {
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.main__work__maintext {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}
.main__work-image {
  margin: 0 -3px -3px -3px;
  display: inline-block;
  margin-right: 100px;
  opacity: 0.7;
  transition-duration: 0.3s;
}
.main__work-image:hover {
  opacity: 1;
}
.main__work-image:nth-of-type(3n) {
  margin: 0 -3px -3px -3px;
}
.main__work-distance {
  width: 100%;
  height: 80px;
}
.main__work__content {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}
.main__work__content-text {
  float:left;
  margin-right:90px;
  max-width: 530px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #333;
}
.main__work__content-button {
  padding: 14px 20px;
  margin: 8px 0;
  vertical-align: middle;
  background-color: #74cfae;
  color: #fff;
}

.main__skills {
  width:100%;
  background-color: #4e4e4e;
  text-align: center;
  padding: 70px 0 100px 0;
  color: #fff;
}
.main__skills__text {
  margin-bottom:70px;
  font-size:24px;
}
.main__skills__frame {
  display:flex;
  justify-content: center;
  font-size: 16px;
}
.main__skills__item {
  float:left;
  margin-right: 180px;
  line-height: 40px;
}
.main__skills__item:last-child {
  margin-right: 0;
}

.main__support {
  width:100%;
  padding: 200px 0;
  display: flex;
  justify-content: center;
}
.main__support__content {
  display: flex;
}
.main__support__content a{
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.icon {
  text-align: center;
  padding:20px 0;
  width: 185px;
  font-family: FontAwesome;
  color: #74cfae;
  opacity: 0.7;
  background-color: #f2f2f2;
  transition-duration: 0.3s;
}
.icon:hover {
  background-color: #fff;
  opacity: 1;
}
/*--------------------------*/
.footer {
  position: relative;
  top: 25px;
  width:100%;
  background-color: #74cfae;
  padding: 20px 0 25px 0;
  color: #000;
}
.footer__text {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato",serif;
  color: #fff;
}
